/* Universal */
html {
  font-family: 'Work Sans', sans-serif;
  font-size: 18px;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1rem;
  font-weight: 300;
}

/* Header */
header {
  display: flex;
  align-items: center;
  height: 64px;
  width: 100%;
  background-color: rgb(230, 229, 233);
}

header .logo {
  display: inline-flex;
  align-items: center;
  width: 70%;
}

header img {
  margin-left: 24px;
  height: 45px;
  width: auto;
}

header span {
  font-size: 1.2rem;
  margin-left: 5px;
  color: rgb(30, 26, 32);
}

#colmar {
  font-weight: 700;
}

#academy {
  font-weight: 300;
}

header nav {
  width: 30%;
  font-size: .8rem;
}

nav ul {
  display: inline-flex;
  float: right;
  margin-right: 24px;
}

nav ul li {
  padding-left: 16px;
}

/* Main Banner */
.banner {
  display: inline-flex;
  align-items: center;
  width: 100%;
  background-color: rgb(30, 26, 32);
  color: rgb(230, 229, 233);
}

.banner img {
  width: 60%;
  height: auto;
  margin: 32px 24px;
}

.banner .headline {
  margin-left: 24px;
}

.banner h1 {
  font-weight: 700;
  margin-bottom: 16px;
}

.banner h3 {
  margin-bottom: 20px;
  color: rgb(200, 199, 203);
}

.banner .button {
  display: flex;
  justify-content: center;
  width: 100px;
  background-color: rgb(255, 148, 77);
  padding: 8px;
  border-radius: 4px;
}
